
/* LINKS *******************************************************************************
**************************************Antoinette Janus https://codepen.io/internette */

html, body {
    height: 100%;
    width: 100%;
    
  }
  
  a {
    
    width: 250px;
    text-decoration: none;

    color: black;
    line-height: 1.5rem;

    transform: translate3d(-50%, -50%, 0);
  }

  a span {
    background-image: linear-gradient(to bottom, white 0%, transparent 0%), 
        linear-gradient(to right, #92B7FF 33%, #FF9892 33%, #FF9892 66%, #FFCD92 66%);
    background-size: 306% 100%;
    background-position: 100% 0;
    transition: 1s background-position;
  }
  a:hover span {
    background-position: 0%;
  }
  


  /* SELECTION COLOR *****************************************************************************
*********************************************************************************** */

  ::-moz-selection { 
      background: #FF9892 }
  ::selection { 
      background: #FF9892 }


/* TYPOGRAPHY *****************************************************************************
*********************************************************************************** */

h1{ /* https://codepen.io/dennisgarrn/ */
    text-transform:uppercase;
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
    font-family:'Rubik', sans-serif;
    padding-top:10px;
    padding-bottom:10px;
  }

h2{
    font-size: 2.5rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
    font-family:'Rubik', sans-serif;
    padding:0px;
}

h3{
    font-size: 1.7rem;
    line-height: 1.25;
    font-family:'Rubik', 400, sans-serif;
}

/* PAGES *******************************************************************************
***************************************************************************************/


  .introduction {
      height: 100%;
      width: 100%;
}


.intro-text {
    position: absolute;
    left: 25%;
    top: 25%;
    right:25%;
    bottom: 25%;
}

.about {
    position: relative;
    margin:2%;

    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom:5%;
    background-color: #D5DFF3;
    
}


.work {
    
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom:5%;
    background-color: #FF9892;

}



  
  /***************************           Cards            *******************************/  
  /***************************           Cards            *******************************/  
  /***************************           Cards            *******************************/

  
  .band {
    padding-top:20%;  
    position: relative;
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
    
    align-items: left;
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  
  @media only screen and (min-width: 500px) {
    .band {
      grid-template-columns: 1fr 1fr;
    }  
  }
  
  @media only screen and (min-width: 850px) {
    .band {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  
  .card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }
  
  .card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  
  .card article {
    padding: 20px;
    flex: 1;
     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
  
  /* typography */
  .card {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  .card p { 
    flex: 1; /* make p grow to fill available space*/
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
    line-height: 1.4;

  }
  
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }





.artwork {
    
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    padding-bottom:5%;
    background-color: #ffffff;

}


.footer {
    padding-left:10%;
    padding-right:10%;
    padding-top:2%;
    padding-bottom:2%;
    background-color: #D5DFF3;
    font-size: 1rem;
}





body {

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
    font-size: 1.5rem;

    
        
}

