



/*
a {
    color: #000000;
    
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
}

a:link {

    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #000000;

    text-decoration: none;
}

a:focus {
    outline: none;
}
*/












body {


    /* fonts */
    font-family: 'Rubik', sans-serif;
    font-family: 'Roboto', sans-serif;

}

